computing_module/computing_module
computing_module/x64
computing_module/src/third_party
computing_module/src/test_versions
computing_module/src/old_versions
computing_module/debug_MPI
computing_module/release_MPI
computing_module/debug_OMP
computing_module/release_OMP
computing_module/debug_seq
computing_module/release_seq
computing_module/computing_module.u2d
computing_module/computing_module.vfproj
package_library/package_library
package_library/debug_MPI
package_library/release_MPI
package_library/debug_OMP
package_library/release_OMP
package_library/debug_seq
package_library/release_seq
package_library/x64
package_interface/x64
NRG_GIT_stable_1/
package_utilities/package_utilities
package_utilities/debug_MPI
package_utilities/release_MPI
package_utilities/debug_OMP
package_utilities/release_OMP
package_utilities/debug_seq
package_utilities/release_seq
package_utilities/x64
build/
*.bak
*.u2d
*.vfproj
*.sln
