computing_module/computing_module
computing_module/src/third_party/soot
computing_module/src/third_party/dvode
computing_module/src/third_party/cvode
computing_module/src/test_versions
computing_module/src/old_versions
computing_module/debug_MPI
computing_module/release_MPI
computing_module/debug_OMP
computing_module/release_OMP
computing_module/debug_seq
computing_module/release_seq
package_library/package_library
package_library/debug_MPI
package_library/release_MPI
package_library/debug_OMP
package_library/release_OMP
package_library/debug_seq
package_library/release_seq
NRG_GIT_stable_1/
*.bak
